@media (min-width: 768px) {
  .comments {
    display: flex;
  }

  .comment {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

::scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.title {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%
}

.top {
  font-size: 0.75vw;
  width: 100%;
  margin: 0;
  padding: 1vw 0 0 0;
  overflow: hidden;
}

.phone-i {
  padding: 0.5vw 0.5vw 0.5vw 0;
  text-decoration: none;
  color: white;
  float: left;
}

.phone {
  text-decoration: none;
  color: white;
}

.mail {
  padding: 0;
}

/*
.timing {
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
} */
.btn-titl1 {
  padding: 0 0 0 3vw;
}

.btn-title {
  padding: 0;
}

.title-btn {
  font-size: 0.8vw;
  padding: 0.4vw;
  overflow: hidden;
}

.wa-img {
  background-color: #2DC100;
  font-size: 1.5vw;
  border-radius: 0.9vw;
}

.logo {
  width: 80%;
  margin: -20% 0 -15% 0;
}

.cert {
  width: 30%;
  margin: -7% auto -7% auto;
  border-radius: 10vw;
}

.carousel-item {
  font-weight: bold;
}

.choices {
  position: relative;
  margin: 0;
  padding: 0;
}

.choices_image {
  /* margin:8.3vw 0 0 0; */
  padding: 0;
  border-spacing: 0;
  height: 78vh;
}

.choices_text {
  text-align: center;
  position: absolute;
  color: yellow;
  bottom: 4%;
  right: 3%;
  left: 3%;
  font-size: 2.8vw;
}

#slideshow {
  background-color: #AF1E23;
  color: #ffff;
  text-align: center;
  font-size: 2vw;
  padding: 2vw;
}

.bridge {
  text-align: center;
  background-color: black;
}

.bridge_image {
  width: auto;
  max-width: 100vw;
  height: 100vh;
}

.example {
  margin-top: 0.5vw;
  padding: 1vw 2.8vw;
  background-color: #AF1E23;
  color: #ffffff;
}

.example_head {
  font-size: 2.83vw;
  letter-spacing: -0.09vw;
  padding: 0 0.1vw;
}

.example_detail {
  padding: 2vw;
  font-size: 1.5vw;
}

.example_detail h3 {
  color: yellow;
}

.salary {
  color: yellow;
  font-size: 2vw;
}

.example-img {
  padding: 2vw 0;
  height: 80vh;
  width: auto;
}

.vision {
  padding: 15vh 10.7vw 8vh 10.7vw;
  font-size: 2.1vw;
  color: #AF1E23;
  text-align: center;
}

.vision-1 {
  padding: 3vw 0;
}

.vision-2 {
  padding: 4vw 0;
  color: black;
}

.success {
  font-size: 5vw;
  font-weight: bold;
  color: #AF1E23;
  text-align: center;
  padding: 3vh 0;
  height: 15vh;
}

.success-list {
  padding: 7vh 1.5vw;
  height: 85vh;
}

.success-img {
  border: 0.95vw solid #AF1E23;
  border-spacing: 0;
  padding: 0;
  width: 100%;
}

.identity {
  margin: 2vw auto;
  width: 90%;
  border: 0.5vw #AF1E23 solid;
  text-align: center;
  letter-spacing: -0.07vw;
  font-weight: lighter;
}

.designation {
  color: #AF1E23;
  font-weight: bold;
  font-size: 0.9vw;
}

.compare {
  padding: 2vw 1vw;
  background-color: #AF1E23;
  margin: 0;
}

.comp {
  border: solid #D7D8D9 0.3vw;
  padding: 3vw 0.8vw;
  position: relative;
  text-align: center;
}

.comp-2 {
  border-left: 0;
}

.comp-1-col {
  padding: 0;
}

.comp-1-col-2 {
  padding: 0 0 0 0.8vw;
}

.chead {
  color: #AF1E23;
  font-weight: bold;
  width: 70%;
  font-size: 1.5vw;
}

.vs {
  position: absolute;
  font-size: 3vw;
  color: #ffffff;
  margin: 0 auto;
}

.table {
  padding: 2vw 0.8vw 0 0;
  text-align: center;
  font-size: 1vw;
  margin: 0;
}

.table-asian {
  margin: 0 0.8vw;
  padding: 2vw 0.8vw 0 0.8vw;
}

.table-2 {
  padding: 2vw 0 0 0;
  text-align: center;
  font-size: 1vw;
  margin: 0;
}

.odd {
  background-color: #ffffff;
  padding: 1vw 0.1vw;
}

.even {
  background-color: #D7D8D9;
  padding: 1vw 0.1vw;
}

.shead {
  color: #AF1E23;
  font-weight: bold;
  width: 100%;
  font-size: 1.5vw;
}

.facts {
  color: #ffffff;
  padding: 2vw 0 2vw 0;
  font-size: 1.5vw;
  font-weight: normal;
}

.comp-img {
  padding: 5vw 0 2vw 0;
  width: 100%;
}

.faqs {
  overflow: visible;
  text-align: center;
  padding: 4vh 8vw;
  color: black;
  white-space: initial;
}

.faq-head {
  margin: 0 auto 2vh auto;
  width: 80%;
  font-size: 4vw;
  text-align: left;
  font-weight: bold;
  height: 10vh;
}

/* .qNa{
  height: 72vh;
} */
.question {
  background-color: #AF1E23;
  font-size: 1.7vw;
  font-weight: bold;
  margin: 0 0 1vw 0;
  /* padding: 1vw;
  border: none;*/
  border-radius: 3vw;
  text-decoration: none;
  color: #ffffff;
  width: 90%;
  text-align: left;
  white-space: initial;
}

.faq-5 {
  padding: 0.96vw 0 0.96vw 0.4vw;
}

.dd-question {
  width: 4%;
  border-radius: 0 3vw 3vw 0;
}

.ans {
  width: 100%;
  font-size: 1.4vw;
  font-weight: bold;
  padding: 1vw;
  text-decoration: none;
  display: none;
  text-align: left;
}

.dropdown-item {
  white-space: initial;
}

.data {
  margin: 0 6vw;
}

.data-1 {
  font-weight: bold;
  color: #AF1E23;
  font-size: 2.4vw;
  padding: 3vh 0;
}

.data-block {
  color: #ffffff;
  font-size: 2vw;
  background-color: #AF1E23;
  margin: 0.5vw 0;
  padding: 1vw;
}

.clickable {
  background: #fff200;
  background-image: -webkit-linear-gradient(top, #fff200, #ffdd00);
  background-image: -moz-linear-gradient(top, #fff200, #ffdd00);
  background-image: -ms-linear-gradient(top, #fff200, #ffdd00);
  background-image: -o-linear-gradient(top, #fff200, #ffdd00);
  background-image: linear-gradient(to bottom, #fff200, #ffdd00);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1.8vw;
  text-shadow: 0.1vw 0.1vw 0.3vw #858585;
  font-family: Arial;
  color: black;
  font-size: 2vw;
  padding: 1vw 2vw;
  text-decoration: none;
}
.clickable:hover {
  background: #ffdd00;
  background-image: -webkit-linear-gradient(top, #ffdd00, #fff200);
  background-image: -moz-linear-gradient(top, #ffdd00, #fff200);
  background-image: -ms-linear-gradient(top, #ffdd00, #fff200);
  background-image: -o-linear-gradient(top, #ffdd00, #fff200);
  background-image: linear-gradient(to bottom, #ffdd00, #fff200);
  text-decoration: none;
}

.team {
  margin: 5vh 0;
  width: 80%;
  filter: grayscale(0%);
}

.team:hover {
  filter: grayscale(100%);
}

.team-2 {
  margin: 5vh 10%;
}

.team-3 {
  margin: 5vh 0 5vh 20%;
}

.services {
  background-color: #3A3A3A;
  color: #ffffff;
  padding: 4vh 2vw;
  height: 100vh;
}

.service-head {
  text-decoration: underline;
}

.service-detail {
  font-size: 1.8vw;
  list-style-type: none;
  padding: 0;
}

.service-img {
  width: auto;
  max-width: 100%;
  height: 75vh;
}

/* #mobileVideo{
  display: none;
} */
#carouselExampleControls {
  background-color: #af1e23;
}

.video-group {
  padding: 2vw;
}

.vid-col {
  text-align: center;
}

.comments {
  background-color: grey;
  padding: 3vw 2vw;
  margin-bottom: 2vw;
}

.card {
  margin: 0 .5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card .img-wrapper {
  max-width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  width: 110%;
  height: 110%;
  z-index: 1;
}

.card img {
  max-height: 100%;
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }

  .choices_image {
    /* margin:8.3vw 0 0 0; */
    padding: 0;
    border-spacing: 0;
    height: 39vh;
  }

  .example_detail {
    padding: 2vw 1vw 2vw 0;
    font-size: 2.8vw;
  }

  .example_detail h3 {
    font-size: 3.6vw;
    font-weight: bolder;
  }

  .example_head {
    padding: 0 2.8vw 0 2.8vw;
    font-weight: bolder;
    font-size: 3.1vw;
    height: 3vh;
  }

  .salary {
    font-size: 3.5vw;
  }

  .example-col-2 {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .example-img {
    height: 50vh;
    width: auto;
    max-width: 100vw;
    padding: 0;
    margin: 0;
  }

  .hide-mobile {
    display: none;
  }

  .logo {
    height: 7.3vh;
    width: auto;
    margin: -40% 0 -15% 0;
  }

  .title-btn {
    font-size: 1.3vw;
    padding: 0.4vw;
  }

  .top {
    font-size: 1.5vw;
  }

  .timing {
    font-size: 1.12vw;
    padding: 0;
  }

  .btn-titl1 {
    padding: 0 0 0 0.2vw;
  }

  .bridge_image {
    width: auto;
    max-width: 100vw;
    height: 70vh;
  }

  .vision {
    padding: 2vh 2vw;
  }

  .vision-1 {
    padding: 0 0 1vh 0;
  }

  .vision-2 {
    padding: 0;
  }

  .success {
    padding: 1vh 0;
    height: 5vh;
  }

  .success-list {
    padding: 7vh 1.5vw;
    height: 70vh;
    text-align: center;
  }

  .success-img {
    border: 0.95vw solid #AF1E23;
    padding: 0;
    width: auto;
    height: 50vh;
  }

  .chead {
    font-size: 3vw;
  }

  .table {
    font-size: 2vw;
  }

  .table-2 {
    font-size: 2vw;
  }

  .facts {
    font-size: 3vw;
  }

  .faq-head {
    height: auto;
  }
  .faqs {
    padding: 1vh 8vw;

  }
  .ans {
    font-size: 2vw;
  }
.data-1{
  padding: 0.5vh 0;
}
  .shead {
    font-size: 3vw;
  }

  .down-head {
    font-size: 4.2vw;
  }

  .down-head-2 {
    font-size: 6vw;
  }
}

.btn-mar {
  margin-bottom: 1vw;
}

#mobileVideo {
  display: relative;
  background-color: #AF1E23;
}

.video-group {
  padding: 4vw;
}

.carousel {
  position: relative;
}

#carouselWorkplace {
  padding: 3vw;
}

.pic {
  width: 100%;
}

.cont12 {
  height: 6vh;
  padding: 2vh 0;
}

.grey-back {
  background-color: #3A3A3A;
  color: #ffffff;
}

.mid-align {
  text-align: center;
}

.side {
  padding: 2vw 9vw;
}

.branches-image {
  width: 6.25vw;
}

.cityname {
  font-size: 2vw;
  font-weight: bolder;
}

.footer {
  background-color: black;
  color: #ffffff;
  padding-bottom: 10vw;
}

.footer-img {
  width: 100%;
}

.footer-head {
  font-size: 2.1vw;
  color: #AF1E23;
  font-weight: bold;
}

.footer-img {
  margin: 1vw 0;
}

.white-back {
  background-color: #ffffff;
}

.footer-contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

vh .sticky1 {
  position: fixed;
  bottom: 5%;
  left: 5%;
  font-size: 3vw;
  border-radius: 3vw;
  background-color: #2DC100;
  z-index: 1;
}

.whatsappimg {
  color: #ffffff;
}
